body {
    margin: 0;
    font-family: Roboto, sans;
}

.container {
    display: grid;
    grid-template-columns: 282px 1fr;
    grid-template-rows: 192px 1fr;
}

.header {
    position: fixed;
    right: 0;
    width: calc(100vw - 282px);
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    box-shadow: 0 4px 4px #bbb;
}

.header>div {
    display: flex;
    justify-content: space-between;
    padding: 16px 48px;
}

.header>div>div {
    display: flex;
    align-items: center;
    gap: 24px;
}

#header-top {
    padding-right: 72px;
}

#header-bottom {
    font-weight: bold;
}

#header-bottom .avatar {
    height: 80px;
    width: 80px;
}

#greeting {
    font-size: 0.9rem;
    margin: 0;
}

#greeting+.name {
    font-size: 1.5rem;
    margin: 0;
}

#header-nav {
    display: flex;
    gap: 32px;
}

#header-nav button {
    background-color: #1e90ff;
    border: none;
    border-radius: 24px;
    width: 7rem;
    padding: 12px 0;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

button:hover,
.icon:hover,
.menu li:hover,
.trending img:hover,
.username:hover {
    cursor: pointer;
}

.icon {
    height: 24px;
    width: 24px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.name {
    font-weight: bold;
}

#search {
    width: max(300px, 35vw);
    background-color: #eee;
    border-radius: 20px;
    border: none;
    padding: 8px;
}

.sidebar {
    background-color: #1e90ff;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 16px;
    height: 100vh;
    width: 250px;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 48px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}

.logo-img {
    filter: invert();
    width: 48px;
}

.menu>ul {
    list-style-type: none;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu li {
    display: flex;
    gap: 14px;
}

.menu img {
    filter: invert();
}

.menu>ul span {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}

.side-footer {
    justify-self: flex-end;
    align-self: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: 40px;
}

.side-footer p {
    margin: 0;
}

.content {
    background-color: #eee;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: auto max(200px, 300px);
    gap: 24px;
    padding: 24px;
    overflow: scroll;
}

.content h2 {
    font-weight: 500;
    font-size: 1.4rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 24px;
}

.projects h3 {
    margin-top: 12px;
    margin-bottom: 4px;
}

.project-content {
    overflow: scroll;
    color: #444;
}

.projects p {
    margin-top: 0;
    margin-bottom: 4px;
}

.projects ul {
    margin-top: 0;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: 8px solid #ffa500;
    border-radius: 8px;
    padding: 20px;
    height: 200px;
    box-shadow: 0 4px 4px #bbb;
}

.icon-bar {
    align-self: flex-end;
    margin-top: auto;
    padding-top: 20px;
}

.icon-bar img {
    padding: 0 8px;
}

.side-content {
    display: flex;
    flex-direction: column;
}

.announcements>.card,
.trending>.card {
    height: auto;
    border: none;
    padding: 28px;
}

.announcements p,
.trending p {
    margin: 0;
    font-weight: 400;
}

.announcements {
    gap: 8px;
}

.announcements h4 {
    margin: 0;
    margin-bottom: 4px;
}

.announcements p {
    color: #444;
    font-size: 0.9rem;
}

.announcements hr {
    width: 100%;
    border: none;
    border-top: 1px solid #bbb;
}

.trending h2 {
    margin-top: 50px;
}

.trending>.card {
    gap: 24px;
}

.trending>.card>div {
    display: flex;
    gap: 16px;
    align-items: center;
}

.username {
    color: black;
}

.project-name {
    color: #444;
}